	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">
		<p:panel>

        <div id="map" style="height: 640px; width: 360px">
        	<h:form>
			 
			    <p:growl id="messages" showDetail="true" />
			    
			    
			    <p:fileUpload fileUploadListener="#{fileUploadMB.carregarArquivo}"  showButtons="false" label="Procurar..." auto="true"></p:fileUpload>
			    <p:outputLabel value="Título: " title="Título "></p:outputLabel>
			    
			    <p:inputText></p:inputText>
			    <br />
			    <p:outputLabel value="Relato: " title="Relato: "></p:outputLabel>
			    
			    <p:inputTextarea></p:inputTextarea>
			    			    <br />
			    
			    <p:outputLabel value="Data:" title="Data: "></p:outputLabel>
			    
			    <p:inputText ></p:inputText>
			    
			    <p:button value="Enviar"></p:button>
			</h:form>
        </div>
 
        <!-- Maps API Javascript -->
 
        <!-- Arquivo de inicialização do mapa -->
        <script src="mapa.js"></script>    
	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>