	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">
		<!-- <p:panel>
			 <div>
			</div>
			<div>	
				<fb:login-button scope="public_profile,email"
						onlogin="checkLoginState();">
				</fb:login-button>
				<div id="status">
						
				</div>
			</div>
			
		</p:panel>

		  
		<p:panel>
			<h:form id="minhaConta">
				<h:panelGrid columns="5" rendered="#{UsuarioConnectMB.logado}">
					<h:outputText value="#{UsuarioConnectMB.login}" />
					<p:commandButton value="Logout" action="#{UsuarioConnectMB.logout}"
						process="@this" update="@form :formLogin" />
				</h:panelGrid>
			</h:form>
			<h:form id="formLogin" prependId="false">
	            <p:fieldset rendered="#{!loginController.logado}">
	                <h:panelGrid columns="3">
	                    <h:outputLabel value="Login:"/>
	                    <p:inputText value="#{loginController.login}"/>	                    
						<h:message />
						
	                    <h:outputLabel value="Senha:"/>
	                    <p:password feedback="true" value="#{loginController.senha}"/>
						
	               		<p:commandButton value="Login" process="@form" update="@form :minhaConta"
	                                 action="#{loginController.logar}"/>
	                	
	                    <h:outputLink value="#{UsuarioConnectMB.conectarComFace()}">
                    	    Login com FaceBook
                	    </h:outputLink>
                
	                	<p:column colspan="3" >
	                		
		                	<f:verbatim escape="true"	>
								<div 
									style="margin-top: 10px;" 
									class="fb-login-button" 
									data-max-rows="3" 
									data-size="large" 
									data-show-faces="true" 
									data-auto-logout-link="false">
								</div>
		                	</f:verbatim>
	                	</p:column>
                	</h:panelGrid>
            	</p:fieldset>
        	</h:form>
			
		</p:panel> -->


		<p:panel style="background-color:beige">

        <div id="map" style="height: 500px; width: 700px; background-color:beige">
        </div>
 
        <!-- Maps API Javascript -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjBZEbSON2AAjt-p3kO7fltN_7o_Ai9EQ&amp;sensor=false"></script>
 
        <!-- Arquivo de inicialização do mapa -->
        <script src="mapa.js"></script>    
        
        
	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>