	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">
		<p:panel>
			<div>
				#{messages['main.app.welcome']}
			</div>
			<div id="mapa"></div>
		</p:panel>

		<p:panel>
			<div class="fb-like" data-share="true" data-width="450"
				data-show-faces="true"></div>
		</p:panel>
	</ui:define>

</ui:composition>