	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">

		<p:panel> 	

        <div id="map" style="height: 640px; width: 360px ; padding: 0px">
			<a href="http://localhost:8080/historiacolaborativa/mobi/index.jsf"><img width="50px" style="position: absolute;" src="voltar.png" /></a>
<!-- Estático --> 

<p style="font-family: fantasy; " align="center">Hamilton Cavalcante</p>
<p style="font-family: fantasy; " align="center"><img src="imagens/eu.jpg" align="top"  /></p>

<p align="center" style="font-family: monospace; font-size: 20px" >Explorador</p>
<p align="center">Número de Fotos: 5</p>

<br />


        </div>
 
        <!-- Maps API Javascript -->
        
 
        <!-- Arquivo de inicialização do mapa -->
	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>