	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">

		<p:panel> 	

        <div id="map" style="height: 640px; width: 360px">
			<a href="http://localhost:8080/historiacolaborativa/mobi/index.jsf"><img width="50px" style="position: absolute;" src="../../voltar.png" /></a>
<!-- Estático --> 

<p style="font-family: fantasy; " align="center">Restaurante Point do Açai</p>

<h:graphicImage value="/mobi/estabelecimento/pointacai/point1.jpg" width="350px">
</h:graphicImage>
<p align="justify" style="font-size: 16px">
Funcionando em um casarão de 131 anos, para os filhos da terra, a garantia de comer à maneira herdada de seus antepassados. Aos vindos de outras terras, a certeza de conhecer o Pará levado à mesa. Preservar e divulgar a cultura regional do jeito mais saboroso: esse é o nosso compromisso!</p>

<p align="justify" style="font-size: 16px">Desconto de 10% para os usuários do aplicativo</p>

<p align="justify" style="font-size: 10px">Horário de funcionamento:
Segunda-feira, das 8h às 16h; terça-feira a sábado, das 11h às 23h; domingo, das 8h às 16h</p>


<p style="font-family: fantasy; font-size: 10px " align="center">Avenida Boulevard Castilho França, 744,<BR />
 esquina com Presidente Vargas<BR />
Campina
(91) 3212-2168 (Fone)
pointdoacai.net </p> 

<!-- Dinâmico -->
 
<p:imageSwitch effect="fade" id="fadeEffect">
    <ui:repeat value="#{imagesViewMB.images}" var="image" id="fadeEffectImages">
        <p:graphicImage name="/mobi/estabelecimento/cinema/images/#{image}" id="image" />
    </ui:repeat>
</p:imageSwitch> 
<p:dialog header="Images" widgetVar="dlg" modal="true"
    draggable="false" resizable="false">
 
    <p:imageSwitch effect="fade">
        <ui:repeat value="#{imagesView.images}" var="image">
            <p:graphicImage name="/#{image}" />
        </ui:repeat>
    </p:imageSwitch>
</p:dialog>
        </div>
 
        <!-- Maps API Javascript -->
        
 
        <!-- Arquivo de inicialização do mapa -->
	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>