
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/main_mobile.xhtml" contentType="text/html"
	renderKitId="PRIMEFACES_MOBILE">
	<pm:page title="Edição de estabelecimento">
	<!-- Main View -->
		<pm:view id="main">
			<pm:header title="Edição de estabelecimento" swatch="b">
				<f:facet name="left">
					<p:button style="width:10; height:30; border:1px solid #000;" 
						value="#{messages['button.back']}" icon="back"
						href="#{estabelecimentoEditMB.previousView}"/>
				</f:facet>
				<f:facet name="right">
					<p:button value="#{messages['main.app.title']}" icon="home"
								 href="./navigator.jsf"/>
				 </f:facet>
			</pm:header>
			<pm:content>
				<h:form>
				<pm:buttonGroup orientation="horizontal" >
					<h:commandButton value="#{messages['button.save']}" action="#{estabelecimentoEditMB.insert}"
						rendered="#{!estabelecimentoEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.save']}" action="#{estabelecimentoEditMB.update}"
						rendered="#{estabelecimentoEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.delete']}" action="#{estabelecimentoEditMB.delete}"
						rendered="#{estabelecimentoEditMB.updateMode}" immediate="true" ajax="false" />					
				</pm:buttonGroup>
					
					<h:outputLabel value="#{messages['estabelecimento.label.id_estabelecimento']}: " for="id_estabelecimento" styleClass="text-input" />
										
					<h:outputText id="id_estabelecimento" value="#{estabelecimentoEditMB.bean.id_estabelecimento}" />
					
					<h:message for="id_estabelecimento" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.horario']}: " for="horario" styleClass="text-input" />
					
					<h:inputText id="horario" value="#{estabelecimentoEditMB.bean.horario}" title="#{messages['estabelecimento.alt.horario']}" />
					
					<h:message for="horario" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.site']}: " for="site" styleClass="text-input" />
					
					<h:inputText id="site" value="#{estabelecimentoEditMB.bean.site}" title="#{messages['estabelecimento.alt.site']}" />
					
					<h:message for="site" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.facebook']}: " for="facebook" styleClass="text-input" />
					
					<h:inputText id="facebook" value="#{estabelecimentoEditMB.bean.facebook}" title="#{messages['estabelecimento.alt.facebook']}" />
					
					<h:message for="facebook" />
						
					<h:outputLabel value="#{messages['promocao.label']}: " for="promocao" styleClass="text-input" />
				    <h:selectOneMenu id="promocao" value="#{estabelecimentoEditMB.bean.promocao}"  converter="ConversorPromocao">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItems value="#{estabelecimentoEditMB.promocaoList}" var="varPromocao" itemLabel="#{varPromocao.id_promocao}"  itemValue="#{varPromocao}" />						
					</h:selectOneMenu>
					<h:message for="promocao" />
								 															
					</h:form>
				</pm:content>
			</pm:view>
		</pm:page>	
</f:view>