
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/main_mobile.xhtml" contentType="text/html"
	renderKitId="PRIMEFACES_MOBILE">
	<pm:page title="Edição de titulo">
	<!-- Main View -->
		<pm:view id="main">
			<pm:header title="Edição de titulo" swatch="b">
				<f:facet name="left">
					<p:button style="width:10; height:30; border:1px solid #000;" 
						value="#{messages['button.back']}" icon="back"
						href="#{tituloEditMB.previousView}"/>
				</f:facet>
				<f:facet name="right">
					<p:button value="#{messages['main.app.title']}" icon="home"
								 href="./navigator.jsf"/>
				 </f:facet>
			</pm:header>
			<pm:content>
				<h:form>
				<pm:buttonGroup orientation="horizontal" >
					<h:commandButton value="#{messages['button.save']}" action="#{tituloEditMB.insert}"
						rendered="#{!tituloEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.save']}" action="#{tituloEditMB.update}"
						rendered="#{tituloEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.delete']}" action="#{tituloEditMB.delete}"
						rendered="#{tituloEditMB.updateMode}" immediate="true" ajax="false" />					
				</pm:buttonGroup>
					
					<h:outputLabel value="#{messages['titulo.label.id_titulo']}: " for="id_titulo" styleClass="text-input" />
										
					<h:outputText id="id_titulo" value="#{tituloEditMB.bean.id_titulo}" />
					
					<h:message for="id_titulo" />
						
					<h:outputLabel value="#{messages['titulo.label.descricao']}: " for="descricao" styleClass="text-input" />
					
					<h:inputText id="descricao" value="#{tituloEditMB.bean.descricao}" title="#{messages['titulo.alt.descricao']}" />
					
					<h:message for="descricao" />
																					
					</h:form>
				</pm:content>
			</pm:view>
		</pm:page>	
</f:view>