
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/main_mobile.xhtml" contentType="text/html"
	renderKitId="PRIMEFACES_MOBILE">
	<pm:page title="Edição de usuario">
	<!-- Main View -->
		<pm:view id="main">
			<pm:header title="Edição de usuario" swatch="b">
				<f:facet name="left">
					<p:button style="width:10; height:30; border:1px solid #000;" 
						value="#{messages['button.back']}" icon="back"
						href="#{usuarioEditMB.previousView}"/>
				</f:facet>
				<f:facet name="right">
					<p:button value="#{messages['main.app.title']}" icon="home"
								 href="./navigator.jsf"/>
				 </f:facet>
			</pm:header>
			<pm:content>
				<h:form>
				<pm:buttonGroup orientation="horizontal" >
					<h:commandButton value="#{messages['button.save']}" action="#{usuarioEditMB.insert}"
						rendered="#{!usuarioEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.save']}" action="#{usuarioEditMB.update}"
						rendered="#{usuarioEditMB.updateMode}" immediate="true" ajax="false" />
					<h:commandButton value="#{messages['button.delete']}" action="#{usuarioEditMB.delete}"
						rendered="#{usuarioEditMB.updateMode}" immediate="true" ajax="false" />					
				</pm:buttonGroup>
					
					<h:outputLabel value="#{messages['usuario.label.id_usuario']}: " for="id_usuario" styleClass="text-input" />
										
					<h:outputText id="id_usuario" value="#{usuarioEditMB.bean.id_usuario}" />
					
					<h:message for="id_usuario" />
						
					<h:outputLabel value="#{messages['usuario.label.nome']}: " for="nome" styleClass="text-input" />
					
					<h:inputText id="nome" value="#{usuarioEditMB.bean.nome}" title="#{messages['usuario.alt.nome']}" />
					
					<h:message for="nome" />
						
					<h:outputLabel value="#{messages['usuario.label.id_facebook']}: " for="id_facebook" styleClass="text-input" />
					
					<h:inputText id="id_facebook" value="#{usuarioEditMB.bean.id_facebook}" title="#{messages['usuario.alt.id_facebook']}" />
					
					<h:message for="id_facebook" />
						
					<h:outputLabel value="#{messages['usuario.label.Foto_Perfil']}: " for="Foto_Perfil" styleClass="text-input" />
					
					<h:inputText id="Foto_Perfil" value="#{usuarioEditMB.bean.Foto_Perfil}" title="#{messages['usuario.alt.Foto_Perfil']}" />
					
					<h:message for="Foto_Perfil" />
						
					<h:outputLabel value="#{messages['usuario.label.qtd_comentarios']}: " for="qtd_comentarios" styleClass="text-input" />
					
					<h:inputText id="qtd_comentarios" value="#{usuarioEditMB.bean.qtd_comentarios}" title="#{messages['usuario.alt.qtd_comentarios']}" />
					
					<h:message for="qtd_comentarios" />
						
					<h:outputLabel value="#{messages['usuario.label.qtd_fotos']}: " for="qtd_fotos" styleClass="text-input" />
					
					<h:inputText id="qtd_fotos" value="#{usuarioEditMB.bean.qtd_fotos}" title="#{messages['usuario.alt.qtd_fotos']}" />
					
					<h:message for="qtd_fotos" />
						
					<h:outputLabel value="#{messages['usuario.label.dataCadastro']}: " for="dataCadastro" styleClass="text-input" />
					
					<p:calendar id="dataCadastro" value="#{usuarioEditMB.bean.dataCadastro}"
					   pattern="#{messages['label.date.pattern']}" navigator="true" showButtonPanel="true"
					   locale="#{locales.currentLocale}" title="#{messages['usuario.alt.dataCadastro']}" />
							 
					<h:message for="dataCadastro" />
						
					<h:outputLabel value="#{messages['titulo.label']}: " for="titulo" styleClass="text-input" />
				    <h:selectOneMenu id="titulo" value="#{usuarioEditMB.bean.titulo}"  converter="ConversorTitulo">
						<f:selectItem itemLabel="Selecione" itemValue="" />
						<f:selectItems value="#{usuarioEditMB.tituloList}" var="varTitulo" itemLabel="#{varTitulo.id_titulo}"  itemValue="#{varTitulo}" />						
					</h:selectOneMenu>
					<h:message for="titulo" />
								 															
					</h:form>
				</pm:content>
			</pm:view>
		</pm:page>	
</f:view>