	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">

		<p:panel> 	

        <div id="map" style="height: 640px; width: 360px ; padding: 0px">
			<a href="http://localhost:8080/historiacolaborativa/mobi/index.jsf"><img width="50px" style="position: absolute;" src="../../voltar.png" /></a>
<!-- Estático --> 

<p style="font-family: fantasy; " align="center">Cinema Olympia</p>
<p:imageCompare leftImage="/mobi/estabelecimento/cinema/cine1.jpg"
                        rightImage="/mobi/estabelecimento/cinema/cine2.jpg"
                        width="350"/>

<p align="justify">O Olímpia foi fundado no dia 24 de abril de 1912 pelos empresários Carlos Teixeira e Antonio Martins, donos do Grande Hotel (onde hoje está o Hilton Hotel) e do Palace Theatre (na mesma quadra). Eles queriam fazer do cinema um ponto “chique” para atrair os freqüentadores do Theatro da Paz e, obviamente, os hóspedes de seu hotel.</p>
<h:outputLink id="link1" value="http://www.cinemaolympia.com.br/historia.html">Conheça a História</h:outputLink>

<br />

<h:outputLink id="link1" value="http://espacomunicipalcineolympia.blogspot.com.br/">PROGRAMAÇÃO</h:outputLink>

<p style="font-family: fantasy; font-size: 10px " align="center">Av. Presidente Vargas, 918 <br />
Campina - Belem/PA <br />
(91)3230-5380 <br />
cinemaolympia@belem.pa.gov.br </p> 

<!-- Dinâmico -->
 
<p:imageSwitch effect="fade" id="fadeEffect">
    <ui:repeat value="#{imagesViewMB.images}" var="image" id="fadeEffectImages">
        <p:graphicImage name="/mobi/estabelecimento/cinema/images/#{image}" id="image" />
    </ui:repeat>
</p:imageSwitch> 
<p:dialog header="Images" widgetVar="dlg" modal="true"
    draggable="false" resizable="false">
 
    <p:imageSwitch effect="fade">
        <ui:repeat value="#{imagesView.images}" var="image">
            <p:graphicImage name="/#{image}" />
        </ui:repeat>
    </p:imageSwitch>
</p:dialog>
        </div>
 
        <!-- Maps API Javascript -->
        
 
        <!-- Arquivo de inicialização do mapa -->
	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>