<html xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fb="http://www.facebook.com/2008/fbml">

<f:view contentType="text/html" locale="#{locales.currentLocale}" />

<h:head>
	<title>#{messages['main.app.title']}</title>
	<link type="text/css" rel="stylesheet" href="css/styles.css" />
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; color: beige }
      #map { height: 100%; }
    </style>
</h:head>

<h:body style="background-color:#f1f1f1">
	
	<table style="width: 360px; padding: 0px; border-collapse: collapse;" border="1px"  >
		<tr>
			<td height="30px" align="left">
				
				<div style="float: left; background-image:url('/me.png'); ;" >
					<a href="minhaconta.jsf"><img src="../mobi/imagens/photo.png" />	</a>
				</div>
				<a href="../mobi/index.jsf" >BeLembranças</a>
				</td>
		</tr>
	
		<tr valign="top" style="background-color: beige;">
			<td  style="padding: 0px; background-color: beige " ><ui:insert name="body"  /></td>
		</tr>
		
	</table>

	<p:growl id="messages" globalOnly="true" />

	<p:ajaxStatus style="width:16px;height:16px;">
		<f:facet name="start">
		</f:facet>

		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>
	<link type="text/css" rel="stylesheet" href="css/aristo/skin.css" />
	<h:outputScript library="js" name="locale-primefaces.js" />
	<h:outputScript library="js" name="facebook.js" />
</h:body>
</html>