
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form prependId="false">
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton value="#{messages['button.save']}" action="#{estabelecimentoEditMB.insert}"
						rendered="#{!estabelecimentoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.save']}" action="#{estabelecimentoEditMB.update}"
						rendered="#{estabelecimentoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.delete']}" onclick="confirmation.show()"
						rendered="#{estabelecimentoEditMB.updateMode}" type="button" immediate="true" ajax="false" />
					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.delete']}" severity="alert" widgetVar="confirmation">
						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{estabelecimentoEditMB.delete}" immediate="true"
							ajax="false" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>

			<br />

			<p:fieldset legend="#{messages['estabelecimento.label']}" toggleable="true" toggleSpeed="500">
				<h:panelGrid id="fieldsestabelecimento" columns="3">
				
					<h:outputLabel value="#{messages['estabelecimento.label.id_estabelecimento']}: " for="id_estabelecimento" styleClass="text-input" />
										
					<h:outputText id="id_estabelecimento" value="#{estabelecimentoEditMB.bean.id_estabelecimento}" />
					
					<p:message for="id_estabelecimento" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.horario']}: " for="horario" styleClass="text-input" />
					
					<h:inputText id="horario" value="#{estabelecimentoEditMB.bean.horario}"
						title="#{messages['estabelecimento.alt.horario']}" />
					
					<p:message for="horario" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.site']}: " for="site" styleClass="text-input" />
					
					<h:inputText id="site" value="#{estabelecimentoEditMB.bean.site}"
						title="#{messages['estabelecimento.alt.site']}" />
					
					<p:message for="site" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.facebook']}: " for="facebook" styleClass="text-input" />
					
					<h:inputText id="facebook" value="#{estabelecimentoEditMB.bean.facebook}"
						title="#{messages['estabelecimento.alt.facebook']}" />
					
					<p:message for="facebook" />
						
					<h:outputLabel value="#{messages['estabelecimento.label.promocao']}: " for="promocao" styleClass="text-input" />
					
					<h:inputText id="promocao" value="#{estabelecimentoEditMB.bean.promocao}"
						title="#{messages['estabelecimento.alt.promocao']}" />
					
					<p:message for="promocao" />
						
				</h:panelGrid>
			</p:fieldset>
			
		</h:form>
	</ui:define>
</ui:composition>