
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form>
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton title="#{messages['button.new']}" icon="ui-icon-document" action="#{estabelecimentoListMB.getNextView}"
						actionListener="#{estabelecimentoListMB.clear}" ajax="false" />

					<p:commandButton title="#{messages['button.delete']}" icon="ui-icon-trash" onclick="confirmation.show()"
						type="button" immediate="true" ajax="false" />

					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.alert']}!" severity="alert" widgetVar="confirmation">

						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{estabelecimentoListMB.deleteSelection}"
							actionListener="#{estabelecimentoListMB.clear}" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>
			<p:dataTable id="list" var="bean" value="#{estabelecimentoListMB.resultList}">
				<f:facet name="header">#{messages['estabelecimento.list.table.title']}</f:facet>
				<p:column style="width:2%;">
					<h:selectBooleanCheckbox value="#{estabelecimentoListMB.selection[bean.id_estabelecimento]}"></h:selectBooleanCheckbox>
				</p:column>
				
				<p:column style="width:5%;" sortBy="#{bean.id_estabelecimento}">
					<f:facet name="header">#{messages['estabelecimento.label.id_estabelecimento']}</f:facet>
					<h:outputText value="#{bean.id_estabelecimento}" />
				</p:column>
						
				<p:column sortBy="#{bean.horario}">
					<f:facet name="header">#{messages['estabelecimento.label.horario']}</f:facet>
					<h:commandLink action="#{estabelecimentoListMB.getNextView}" actionListener="#{estabelecimentoListMB.clear}">
						<h:outputText value="#{bean.horario}" />
						<f:param name="id" value="#{bean.id_estabelecimento}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.site}">
					<f:facet name="header">#{messages['estabelecimento.label.site']}</f:facet>
					<h:commandLink action="#{estabelecimentoListMB.getNextView}" actionListener="#{estabelecimentoListMB.clear}">
						<h:outputText value="#{bean.site}" />
						<f:param name="id" value="#{bean.id_estabelecimento}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.facebook}">
					<f:facet name="header">#{messages['estabelecimento.label.facebook']}</f:facet>
					<h:commandLink action="#{estabelecimentoListMB.getNextView}" actionListener="#{estabelecimentoListMB.clear}">
						<h:outputText value="#{bean.facebook}" />
						<f:param name="id" value="#{bean.id_estabelecimento}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.promocao}">
					<f:facet name="header">#{messages['estabelecimento.label.promocao']}</f:facet>
					<h:commandLink action="#{estabelecimentoListMB.getNextView}" actionListener="#{estabelecimentoListMB.clear}">
						<h:outputText value="#{bean.promocao}" />
						<f:param name="id" value="#{bean.id_estabelecimento}" />
					</h:commandLink>
				</p:column>
					
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>