	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/main.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">
		<p:panel>
			<div>
				#{messages['main.app.welcome']}
			</div>
			<div>	
				<fb:login-button scope="public_profile,email"
						onlogin="checkLoginState();">
				</fb:login-button>
				<div id="status"></div>
			</div>
		</p:panel>

		<!--  
		<p:panel>
			<h:form id="minhaConta">
				<h:panelGrid columns="5" rendered="#{UsuarioConnectMB.logado}">
					<h:outputText value="#{UsuarioConnectMB.login}" />
					<p:commandButton value="Logout" action="#{UsuarioConnectMB.logout}"
						process="@this" update="@form :formLogin" />
				</h:panelGrid>
			</h:form>
			<h:form id="formLogin" prependId="false">
	            <p:fieldset rendered="#{!loginController.logado}">
	                <h:panelGrid columns="3">
	                    <h:outputLabel value="Login:"/>
	                    <p:inputText value="#{loginController.login}"/>	                    
						<h:message />
						
	                    <h:outputLabel value="Senha:"/>
	                    <p:password feedback="true" value="#{loginController.senha}"/>
						
	               		<p:commandButton value="Login" process="@form" update="@form :minhaConta"
	                                 action="#{loginController.logar}"/>
	                	
	                    <h:outputLink value="#{UsuarioConnectMB.conectarComFace()}">
                    	    Login com FaceBook
                	    </h:outputLink>
                
	                	<p:column colspan="3" >
	                		
		                	<f:verbatim escape="true"	>
								<div 
									style="margin-top: 10px;" 
									class="fb-login-button" 
									data-max-rows="3" 
									data-size="large" 
									data-show-faces="true" 
									data-auto-logout-link="false">
								</div>
		                	</f:verbatim>
	                	</p:column>
                	</h:panelGrid>
            	</p:fieldset>
        	</h:form>
			
		</p:panel>
		!-->

		<p:panel>
			<div class="fb-like" data-share="true" data-width="450"
				data-show-faces="true"></div>
		</p:panel>
	</ui:define>

</ui:composition>