<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form>
		<p:menubar>
			<p:submenu label="#{messages['menu.usuario']}">
				<p:menuitem value="#{messages['menu.menuitem.new']}" url="/usuario_edit.jsf"></p:menuitem>
				<p:menuitem value="#{messages['menu.menuitem.list']}" url="/usuario_list.jsf"></p:menuitem>
			</p:submenu>

			<p:submenu label="#{messages['menu.estabelecimento']}">
				<p:menuitem value="#{messages['menu.menuitem.new']}" url="/estabelecimento_edit.jsf"></p:menuitem>
				<p:menuitem value="#{messages['menu.menuitem.list']}" url="/estabelecimento_list.jsf"></p:menuitem>
			</p:submenu>

			<p:submenu label="#{messages['menu.promocao']}">
				<p:menuitem value="#{messages['menu.menuitem.new']}" url="/promocao_edit.jsf"></p:menuitem>
				<p:menuitem value="#{messages['menu.menuitem.list']}" url="/promocao_list.jsf"></p:menuitem>
			</p:submenu>

			<p:submenu label="#{messages['menu.titulo']}">
				<p:menuitem value="#{messages['menu.menuitem.new']}" url="/titulo_edit.jsf"></p:menuitem>
				<p:menuitem value="#{messages['menu.menuitem.list']}" url="/titulo_list.jsf"></p:menuitem>
			</p:submenu>

			<p:submenu label="#{messages['menu.bookmark']}">
				<p:menuitem value="#{messages['menu.menuitem.new']}" url="/bookmark_edit.jsf" />
				<p:menuitem value="#{messages['menu.menuitem.list']}" url="/bookmark_list.jsf" />
			</p:submenu>

			<p:menuitem value="#{messages['menu.menuitem.quit']}" url="http://www.frameworkdemoiselle.gov.br/"
				action="#{securityContext.logout}" />
		</p:menubar>
	</h:form>

</ui:composition>