
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form>
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton title="#{messages['button.new']}" icon="ui-icon-document" action="#{promocaoListMB.getNextView}"
						actionListener="#{promocaoListMB.clear}" ajax="false" />

					<p:commandButton title="#{messages['button.delete']}" icon="ui-icon-trash" onclick="confirmation.show()"
						type="button" immediate="true" ajax="false" />

					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.alert']}!" severity="alert" widgetVar="confirmation">

						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{promocaoListMB.deleteSelection}"
							actionListener="#{promocaoListMB.clear}" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>
			<p:dataTable id="list" var="bean" value="#{promocaoListMB.resultList}">
				<f:facet name="header">#{messages['promocao.list.table.title']}</f:facet>
				<p:column style="width:2%;">
					<h:selectBooleanCheckbox value="#{promocaoListMB.selection[bean.id_promocao]}"></h:selectBooleanCheckbox>
				</p:column>
				
				<p:column style="width:5%;" sortBy="#{bean.id_promocao}">
					<f:facet name="header">#{messages['promocao.label.id_promocao']}</f:facet>
					<h:outputText value="#{bean.id_promocao}" />
				</p:column>
						
				<p:column sortBy="#{bean.descricao}">
					<f:facet name="header">#{messages['promocao.label.descricao']}</f:facet>
					<h:commandLink action="#{promocaoListMB.getNextView}" actionListener="#{promocaoListMB.clear}">
						<h:outputText value="#{bean.descricao}" />
						<f:param name="id" value="#{bean.id_promocao}" />
					</h:commandLink>
				</p:column>
					
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>