
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form prependId="false">
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton value="#{messages['button.save']}" action="#{promocaoEditMB.insert}"
						rendered="#{!promocaoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.save']}" action="#{promocaoEditMB.update}"
						rendered="#{promocaoEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.delete']}" onclick="confirmation.show()"
						rendered="#{promocaoEditMB.updateMode}" type="button" immediate="true" ajax="false" />
					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.delete']}" severity="alert" widgetVar="confirmation">
						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{promocaoEditMB.delete}" immediate="true"
							ajax="false" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>

			<br />

			<p:fieldset legend="#{messages['promocao.label']}" toggleable="true" toggleSpeed="500">
				<h:panelGrid id="fieldspromocao" columns="3">
				
					<h:outputLabel value="#{messages['promocao.label.id_promocao']}: " for="id_promocao" styleClass="text-input" />
										
					<h:outputText id="id_promocao" value="#{promocaoEditMB.bean.id_promocao}" />
					
					<p:message for="id_promocao" />
						
					<h:outputLabel value="#{messages['promocao.label.descricao']}: " for="descricao" styleClass="text-input" />
					
					<h:inputText id="descricao" value="#{promocaoEditMB.bean.descricao}"
						title="#{messages['promocao.alt.descricao']}" />
					
					<p:message for="descricao" />
						
				</h:panelGrid>
			</p:fieldset>
			
		</h:form>
	</ui:define>
</ui:composition>