
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form>
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton title="#{messages['button.new']}" icon="ui-icon-document" action="#{usuarioListMB.getNextView}"
						actionListener="#{usuarioListMB.clear}" ajax="false" />

					<p:commandButton title="#{messages['button.delete']}" icon="ui-icon-trash" onclick="confirmation.show()"
						type="button" immediate="true" ajax="false" />

					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.alert']}!" severity="alert" widgetVar="confirmation">

						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{usuarioListMB.deleteSelection}"
							actionListener="#{usuarioListMB.clear}" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>
			<p:dataTable id="list" var="bean" value="#{usuarioListMB.resultList}">
				<f:facet name="header">#{messages['usuario.list.table.title']}</f:facet>
				<p:column style="width:2%;">
					<h:selectBooleanCheckbox value="#{usuarioListMB.selection[bean.id_usuario]}"></h:selectBooleanCheckbox>
				</p:column>
				
				<p:column style="width:5%;" sortBy="#{bean.id_usuario}">
					<f:facet name="header">#{messages['usuario.label.id_usuario']}</f:facet>
					<h:outputText value="#{bean.id_usuario}" />
				</p:column>
						
				<p:column sortBy="#{bean.nome}">
					<f:facet name="header">#{messages['usuario.label.nome']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.nome}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.id_facebook}">
					<f:facet name="header">#{messages['usuario.label.id_facebook']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.id_facebook}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.foto_Perfil}">
					<f:facet name="header">#{messages['usuario.label.foto_Perfil']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.foto_Perfil}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.qtd_comentarios}">
					<f:facet name="header">#{messages['usuario.label.qtd_comentarios']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.qtd_comentarios}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.qtd_fotos}">
					<f:facet name="header">#{messages['usuario.label.qtd_fotos']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.qtd_fotos}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.dataCadastro}">
					<f:facet name="header">#{messages['usuario.label.dataCadastro']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.dataCadastro}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
				<p:column sortBy="#{bean.titulo}">
					<f:facet name="header">#{messages['usuario.label.titulo']}</f:facet>
					<h:commandLink action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}">
						<h:outputText value="#{bean.titulo}" />
						<f:param name="id" value="#{bean.id_usuario}" />
					</h:commandLink>
				</p:column>
					
			</p:dataTable>
		</h:form>

	</ui:define>
</ui:composition>