
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="/template/main.xhtml">

	<ui:define name="body">
		<h:form prependId="false">
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton value="#{messages['button.save']}" action="#{usuarioEditMB.insert}"
						rendered="#{!usuarioEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.save']}" action="#{usuarioEditMB.update}"
						rendered="#{usuarioEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['button.delete']}" onclick="confirmation.show()"
						rendered="#{usuarioEditMB.updateMode}" type="button" immediate="true" ajax="false" />
					<p:confirmDialog message="#{messages['label.confirm.delete']}" showEffect="bounce" hideEffect="explode"
						header="#{messages['label.dialog.delete']}" severity="alert" widgetVar="confirmation">
						<h:commandButton value="#{messages['button.dialog.yes']}" action="#{usuarioEditMB.delete}" immediate="true"
							ajax="false" />
						<h:commandButton value="#{messages['button.dialog.no']}" onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>
				</p:toolbarGroup>
			</p:toolbar>

			<br />

			<p:fieldset legend="#{messages['usuario.label']}" toggleable="true" toggleSpeed="500">
				<h:panelGrid id="fieldsusuario" columns="3">
				
					<h:outputLabel value="#{messages['usuario.label.id_usuario']}: " for="id_usuario" styleClass="text-input" />
										
					<h:outputText id="id_usuario" value="#{usuarioEditMB.bean.id_usuario}" />
					
					<p:message for="id_usuario" />
						
					<h:outputLabel value="#{messages['usuario.label.nome']}: " for="nome" styleClass="text-input" />
					
					<h:inputText id="nome" value="#{usuarioEditMB.bean.nome}"
						title="#{messages['usuario.alt.nome']}" />
					
					<p:message for="nome" />
						
					<h:outputLabel value="#{messages['usuario.label.id_facebook']}: " for="id_facebook" styleClass="text-input" />
					
					<h:inputText id="id_facebook" value="#{usuarioEditMB.bean.id_facebook}"
						title="#{messages['usuario.alt.id_facebook']}" />
					
					<p:message for="id_facebook" />
						
					<h:outputLabel value="#{messages['usuario.label.Foto_Perfil']}: " for="Foto_Perfil" styleClass="text-input" />
					
					<h:inputText id="Foto_Perfil" value="#{usuarioEditMB.bean.Foto_Perfil}"
						title="#{messages['usuario.alt.Foto_Perfil']}" />
					
					<p:message for="Foto_Perfil" />
						
					<h:outputLabel value="#{messages['usuario.label.qtd_comentarios']}: " for="qtd_comentarios" styleClass="text-input" />
					
					<h:inputText id="qtd_comentarios" value="#{usuarioEditMB.bean.qtd_comentarios}"
						title="#{messages['usuario.alt.qtd_comentarios']}" />
					
					<p:message for="qtd_comentarios" />
						
					<h:outputLabel value="#{messages['usuario.label.qtd_fotos']}: " for="qtd_fotos" styleClass="text-input" />
					
					<h:inputText id="qtd_fotos" value="#{usuarioEditMB.bean.qtd_fotos}"
						title="#{messages['usuario.alt.qtd_fotos']}" />
					
					<p:message for="qtd_fotos" />
						
					<h:outputLabel value="#{messages['usuario.label.dataCadastro']}: " for="dataCadastro" styleClass="text-input" />
					
					<p:calendar id="dataCadastro" value="#{usuarioEditMB.bean.dataCadastro}"
					   pattern="#{messages['label.date.pattern']}" navigator="true" showButtonPanel="true"
					   locale="#{locales.currentLocale}" title="#{messages['usuario.alt.dataCadastro']}" />
							 
					<p:message for="dataCadastro" />
						
					<h:outputLabel value="#{messages['usuario.label.titulo']}: " for="titulo" styleClass="text-input" />
					
					<h:inputText id="titulo" value="#{usuarioEditMB.bean.titulo}"
						title="#{messages['usuario.alt.titulo']}" />
					
					<p:message for="titulo" />
						
				</h:panelGrid>
			</p:fieldset>
			
		</h:form>
	</ui:define>
</ui:composition>