	<ui:composition 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		template="/template/template_mobi.xhtml"
		xmlns:fb="http://www.facebook.com/2008/fbml"
	>

	<ui:define name="body">

		<p:panel> 	

        <div id="map" style="height: 640px; width: 360px">
			<a href="http://localhost:8080/historiacolaborativa/mobi/index.jsf"><img width="50px" style="position: absolute;" src="../../voltar.png" /></a>
<!-- Estático --> 

<p style="font-family: fantasy; " align="center">Cinema Olympia</p>
<p:imageCompare leftImage="/mobi/estabelecimento/cinema/cine1.jpg"
                        rightImage="/mobi/estabelecimento/cinema/cine2.jpg"
                        width="350"/>

<p align="justify">O Olímpia foi fundado no dia 24 de abril de 1912 pelos empresários Carlos Teixeira e Antonio Martins, donos do Grande Hotel (onde hoje está o Hilton Hotel) e do Palace Theatre (na mesma quadra). Eles queriam fazer do cinema um ponto “chique” para atrair os freqüentadores do Theatro da Paz e, obviamente, os hóspedes de seu hotel.</p>


        </div>
 
     	    </p:panel>

	    
	    
	</ui:define>

</ui:composition>